{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>My Blog</h1>
            <div class="header-content">
                <ul>
                    <li><a href="">Início</a></li>
                    <li><a href="">Favoritos</a></li>
                    <li><a href="">{{user}}</a></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>

        <form method="GET" action="{% url 'buscar' %}">{%csrf_token%}
            <div class="buscar">
                <input type="text" name="termo" placeholder="Buscar">
                <button class="btn-buscar" type="submit">Buscar</button>
                <div class="container-categorias">
                    <h1>Categorias</h1>
                    <select name="" id="categoria">
                        <option value="">Categorias</option>
                        <option value="">Skate</option>
                        <option value="">Bike</option>
                        <option value="">Patins</option>
                        <option value="">Surf</option>
                        <option value="">Kite Surf</option>
                    </select>
                </div>
            </div>
            <div class="btn-add">
                <a class="button" href="{% url 'nova_publicacao' %}">Adicionar Materia</a>
            </div>
        </form>

        <div class="posts">
            {% for materia in materias %}
            <div class="container-materia">
                <div class="publicacao">
                    <a name="info_materia" href="{% url 'info_materia' materia.id %}"><h4>{{materia.titulo}}</h4></a>
                    {% if materia.imagem %}
                        <img src="{{materia.imagem.url}}" alt="">
                    {% endif %}
                    <div class="info-autor">
                        <p>Autor:</p><span>{{materia.autor}}</span>
                    </div>

                    <div class="data">
                        <p>Dada de publicação:</p><span>{{materia.data_publicacao}}</span>
                    </div>
                    <div class="categoria">
                        <p>Categoria:</p><span>{{materia.categoria}}</span>
                    </div>
                </div>
                <div class="descricao">
                    <p>{{materia.descricao}}</p>
                    <div class="btns">
                        <a class="btn-comentario" href="{% url 'info_materia' materia.id %}">Carregar comentários</a>
                        <a class="btn-comentario" href="{% url 'criar_comentario' materia.id%}">Adicionar comentários</a>
                    </div>
                </div>
                
                <div class="buttons">
                    <div class="btn-add-favoritos">
                        <a name="termo" href="{% url 'lista_favoritos' materia.id%}">Adicionar aos Favoritos</a>
                    </div>

                    <div class="btn-visualizar-favoritos">
                        <a name="termo" href="{% url 'exibir_favoritos' materia.id%}">Visualizar aos Favoritos</a>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>