{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'info_materia.css' %}">
    <title>Detalhes Matéria</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>My Blog</h1>
            <div class="header-content">
                <ul>
                    <li><a href="{% url 'home'%}">Início</a></li>
                    <li><a href="">Favoritos</a></li>
                    <li><a href="">{{user}}</a></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>

        <div class="posts">
            <div class="container-materia">
                <div class="publicacao">
                    <h2>{{materia.titulo}}</h2>
                    {% if materia.imagem %}
                        <img src="{{materia.imagem.url}}" alt="">
                    {% endif %}
                    <div class="info-autor">
                        <p>Autor:</p><span>{{materia.autor}}</span>
                    </div>

                    <div class="data">
                        <p>Dada de publicação:</p><span>{{materia.data_publicacao}}</span>
                    </div>
                    <div class="categoria">
                        <p>Categoria:</p><span>{{materia.categoria}}</span>
                    </div>
                </div>
                <div class="descricao">
                    <p>{{materia.descricao}}</p>
                </div>

                <div class="comentarios">
                    <h1>Comentários</h1>
                    <form action="">{%csrf_token%}
                        {% for comentario in comentarios %}
                            <h2>Usuario:</h2><span>{{comentario.nome_usuario}}</span>
                            <h2>Comentario:</h2><span>{{comentario.comentario}}</span>
                            <h2>Data:</h2><span>{{comentario.data_comentario}}</span>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>