{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nova_publicacao.css' %}">
    <title>Publicar Matéria</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>To Do List</h1>
            <div class="header-content">
                <h2>Jeferson</h2>
                <a href="">Sair</a>
            </div>
        </div>

        <section>
            <form enctype='multipart/form-data' method="POST">{%csrf_token%}
                <p>Autor</p>
                <input name="autor" type="text">
                <p>Titulo</p>
                <input name="titulo" type="text">
                <p>Descricao</p>
                <input name="descricao" type="text">
                <div class="container-categorias">
                    <p>Categorias</p>
                    <select name="" id="">
                        <option value="">Categorias</option>
                        <option value="">Skate</option>
                        <option value="">Bike</option>
                        <option value="">Patins</option>
                        <option value="">Surf</option>
                        <option value="">Kite Surf</option>
                    </select>
                </div>
                <p>Data de Publicação</p>
                <input name="data_publicacao" type="date">
                <p>Imagem</p>
                <input name="imagem" type="file">
                <button type="submit">Criar</button>
            </form>
        </section>
    </div>
</body>
</html>